.login-body {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
}
#login-box {
  width: 500px;
  height: 480px;
  border-radius: 8px;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #ebe8c2;
  padding: 30px;
}
input {
  width: 300px;
  height: 30px;
  border-radius: 4px;
  border-color: #ebe8c2;
  outline: none;
}
label {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
}
button {
  background-color: #58862d;
  color: #ffffff;
  font-size: 20px;
  width: 310px;
  height: 45px;
  border-radius: 8px;
  margin-left: 110px;
  font-weight: bold;
  outline: none;
}
button:hover {
  background-color: #c2d47d;
  color: #58862d;
  outline: none;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  //width: 50%;
  height: 150px;
  padding-left: 40px;
}
hr {
  width: 350px;
  border-color: #58862d;
}
p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
  text-align: center;
}
#signupbutton {
  color: #58862d;
  font-weight: bold;
}
#signupbutton:hover {
  color: #393613;
}
