$primary: #639f42;
$secondary: #2d5629;

$success: green;
$danger: red;
$warning: yellow;
$info: blue;

body {
  margin: 0;
}

nav {
  display: flex;
  margin: 1em;
  font-family: arial;

  div.logo-container {
    img {
      height: 50px;
    }
  }
  ul {
    li {
      display: inline;
      margin-right: 20px;
    }
  }
}
