$primary: #639f42;
$secondary: #2d5629;

$success: green;
$danger: red;
$warning: yellow;
$info: blue;

body {
  margin: 0;
}

nav {
  display: flex;

  ul {
    li {
      display: inline;
    }
  }
}
